@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --main-color: #f38255;
  --title-color: #094174;
  --text-color: #05073c;
  --light-text: #717171;
  --border-color: #e7e6e6;
  --red-color: #f60000;
  --footer-color: #242c31;

  --font-dm-sans: "DM Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-nothing-you-could-do: "Nothing You Could Do", cursive;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "DM Sans", sans-serif;
}
